body {
	font-family: 'Alata', cursive;
	background-color: #ffb399;
	margin: 16px;
	padding: 16px;
	color: white;
}
h1 {
	text-shadow: 2px 2px #000000;
	font-weight: 100;
	font-size: 30px;
}

h2{
   text-shadow: 2px 2px #000000;
   font-weight: 100;
}


p {
	font-size: 20px;
}
a {
	cursor: pointer;
}
span {
   font-size: 15px;
}
multiline {
  padding: 0px;
  white-space: pre-wrap;
  height: 100px;
  margein: 0px;
}